<div id="page-content">
  <div class="containre" id="home-container">
    <div class="jumbotron text-center">
      <h1 class="display-4">Hyperblog</h1>
      <p class="lead">This is the simple hero unit. A simple, jumbotron-style container.</p>
      <h1 class="my-4"></h1>
      <p>It utilizes classes for typography and spacing to space-content out within the larger container</p>
      <a class="btn btn-info btn-lg" href="#" role="button">Lean More</a>
    </div>
  </div>
</div>
